<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>图书漂流</title>
  <%= stylesheet_link_tag 'css/tspl2' %>
</head>

<body>

  <div class='title'>
  <div class='title_inner'>
    <h1>
     Sorry...
    </h1>
    <h2>
      本功能请等待IOS版本开发完毕。
    </h2>
  </div>
</div>
<div class='container'>
  <div class='container_ui'>
    <div class='container_ui__heading'>
      <h1>
        漂流屋
      </h1>
      <div class='menu_icon'>
        <div class='div'></div>
        <div class='div'></div>
        <div class='div'></div>
      </div>
    </div>
    <input id='message-1' type='checkbox'>
    <label for='message-1' href='#move'>
      <div class='container_ui__item'>
        <div class='face'>
          <img src='https://s3.amazonaws.com/uifaces/faces/twitter/gerrenlamson/128.jpg'>
          <div class='color_bar one'>
            <p>Now Reading</p>
            <span>Read</span>
          </div>
        </div>
        <h2>
          发起者
        </h2>
        <div class='dot active'></div>
        <h3>书名</h3>
        <h4>放置地点</h4>
      </div>
      <div class='container_ui__expand' id='close'>
        <div class='heading'>
          <div class='heading_head'></div>
          <label for='message-1'>
            x
          </label>
        </div>
        <div class='body'>
          <div class='user'>
            <div class='face'>
              <img src='https://s3.amazonaws.com/uifaces/faces/twitter/gerrenlamson/128.jpg'>
            </div>
            <div class='details'>
              <h2>书名</h2>
              <h3>放置地点</h3>
            </div>
          </div>
          <div class='content'>
            <p><b>漂流规则</b></br>。。。</p>
          </div>
        </div>
      </div>
    </label>
    <input id='message-2' type='checkbox'>
    <label for='message-2' href='#move'>
      <div class='container_ui__item'>
        <div class='face'>
          <img src='https://s3.amazonaws.com/uifaces/faces/twitter/gerrenlamson/128.jpg'>
          <div class='color_bar two'>
            <p>Now Reading</p>
            <span>Read</span>
          </div>
        </div>
        <h2>
          发起者
        </h2>
        <div class='dot active'></div>
        <h3>书名</h3>
        <h4>放置地点</h4>
      </div>
      <div class='container_ui__expand' id='close'>
        <div class='heading'>
          <div class='heading_head'></div>
          <label for='message-1'>
            x
          </label>
        </div>
        <div class='body'>
          <div class='user'>
            <div class='face'>
              <img src='https://s3.amazonaws.com/uifaces/faces/twitter/gerrenlamson/128.jpg'>
            </div>
            <div class='details'>
              <h2>书名</h2>
              <h3>放置地点</h3>
            </div>
          </div>
          <div class='content'>
            <p><b>漂流规则</b></br>。。。</p>
          </div>
        </div>
      </div>
    </label>
  </div>
</div>

</body>

</html>